<!doctype html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>tus-js-client demo</title>
      <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
      <link href="/static/css/demo.css" rel="stylesheet" media="screen" />
      <link href="https://transloadit.edgly.net/releases/uppy/v1.21.2/uppy.min.css" rel="stylesheet">
     
  </head>
    <body>
      <div class="container">
        <h1>tus-js-client demo</h1>
        
        <p>
          For a prettier demo please go to the
          <a href="http://tus.io/demo.html">tus.io</a> website.
          This demo is just here to aid developers.
          </p>
          
          <div class="alert alert-warining hidden" id="support-alert">
            <b>Warning!</b> Your browser does not seem to support the features necessary to run tus-js-client. The buttons below may work but probably will fail silently.
          </div>
          
          <br />
          <div id="drag-drop-area"></div>
          
        </div>
        
      </body>
      <script src="https://transloadit.edgly.net/releases/uppy/v1.21.2/uppy.min.js"></script>
      
      <script>
    var uploadurl = "http://localhost:5000/file-upload";
    var uppy = Uppy.Core()
    .use(Uppy.Dashboard, {
      inline: true,
      target: '#drag-drop-area'
    })
    .use(Uppy.Tus, {endpoint: uploadurl})
    
    uppy.on('complete', (result) => {
      console.log('Upload complete! We’ve uploaded these files:', result.successful)
    })
    </script>
    <script src="/static/js/tus.js"></script>
    <script src="/static/js/demo.js"></script>
    </html>
    